
  .Header {
    background-color:#0a0909;
    height: 8vh;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Header-full {
    width: 100%;
    vertical-align: middle;
    border-bottom: 1px solid white;
  }
  
  .Header-menu {
    width: 10%;
    margin-left: 2%;

  }

  #green-button {
    background-color: green;
  color: white;
    border-radius: 0; /* Remove button border radius */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Add some padding */
    width: 8vh;
    margin-left: 2%;
  }
  
  #green-button:hover {
    background-color: #388e3c; /* Darker green background color on hover */
  }
  
  #green-button .MuiButton-label::after {
    content: "ADD"; /* Add the "+" symbol */
  }
  
  #grey-button {
    background-color: grey;
  color: white;
    border-radius: 0; /* Remove button border radius */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Add some padding */
    width: 8vh;
    margin-left: 2%;
    
  }
  
  #grey-button:hover {
    background-color: #2b2e2c; /* Darker green background color on hover */
  }
  
  #grey-button .MuiButton-label::after {
    content: "SEARCH"; /* Add the "+" symbol */
  }
  